<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
<booleanAttribute key="append.args" value="true"/>
<booleanAttribute key="automaticAdd" value="true"/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="default_auto_start" value="true"/>
<intAttribute key="default_start_level" value="4"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -console"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dosgi.requiredJavaVersion=1.5 -Dhelp.lucene.tokenizer=standard -Xms40m -Xmx384m -Declipse.ignoreApp=true -Dosgi.noShutdown=true"/>
<booleanAttribute key="pde.generated.config" value="true"/>
<stringAttribute key="pde.version" value="3.3"/>
<stringAttribute key="target_bundles" value=""/>
<stringAttribute key="workspace_bundles" value="followme@default:default,followme.administration@default:default,followme.command@default:default,followme.configuration@default:default,followme.manager@default:default,gas.alaram@default:default,hello.client@default:default,hello.english.provider@default:default,hello.french.provider@default:default,hello.service@default:default,mail.service@default:default"/>
</launchConfiguration>
